<h1>Companies</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Employees</th>
  </tr>
  </thead>
  <tbody>

    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company_path(company) %></td>
        <td><%= link_to company.description, company_path(company) %></td>
        <td><%= link_to company.employees.count, company_employees_url(company) %></td>
        </tr>
    <% end %>

  </tbody>

</table>

<%= link_to 'New company', new_company_path %>
