<style>
  .navbar-inverse .navbar-brand {
    color: red;
    text-transform: uppercase;
    letter-spacing: -0.08vw;
    transition: 0.2s;
  }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000">Dashboard</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="/companies">Companies</a></li>
        <li><a href="/products">Products</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
